.List header{
  font-size: 1.5em;
  border-bottom: 3px solid #ccc;
  padding-bottom: 15px;
}

.List ul{
  padding:0;
}

.List ul li{
  list-style: none;
  border-bottom: 1px solid #ccc;
  padding: 20px;
}

.List ul li .left{
  display: inline-flex;
  max-width: 80%;
  max-height: 40px;
  overflow: hidden;
  text-align: justify;
  position: relative;
}

.List ul li .left:after{
  content: '...';
  display: block;
  position: absolute;
  bottom: 0;
  right:0;
  background: #fff;
  padding-left:5px;
}

.List ul li .right{
  float: right;
  width: 100px;
}
