@import "app.css";

.Login {
  height: var(--full-height);
  width: var(--full-width);
  padding-top: 15%;
  
  & .loginBox {
    margin: 0 auto;
    width: 250px;
    padding: 50px 20px;
    background: rgba(145,140,140,0.1);
    box-shadow: 1px 1px 5px #ddd;
  }
  
  & .log {
    color: #fff;
    text-align: center;
    font-size: 80px;
    font-weight: 500;
  }
  
  & .inputBox {
    position: relative;
    margin-bottom: 20px;
    
    & label {
      position: absolute;
      top: 20px;
      left: 10px;
      color: #fff;
      transition: 0.2s ease all;
    }
    
    & input {
      width: 93%;
      margin-top: 10px;
      height: 40px;
      outline: none;
      font-size: 18px;
      background: transparent;
      border: none;
      border-bottom: 1px solid #ccc;  
      padding:0 9px;
      transition: 0.2s ease all;
      color: #fff;
    }
    
    & input:focus {
      border-bottom: 1px solid #fff;  
    }
    
    & input:focus ~ label {
      color: #ccc;
      top: 0;
      font-size: 14px;
    }
  }
  
  & button {
    margin-top: 10px;
    background: transparent;
    color: #fff;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    outline: none;
    font-size: 20px;
  }
  
  & button:hover {
    border: 1px solid #fff;
  }
  
  & .box {
    margin-top: 10px;
    
    & a {
      color: #fff;
    }
    
    & .checkbox {
      width: auto;
      height: auto;
      margin:0 auto;
    }
    
    & .left {
      float: left;
    }
    
    & .right {
      float: right;
    }
  }
}
