@import "app.css";

.MainLeft {
  background: #fff;
  width:250px;
  height: 100%;
  position: fixed;
  z-index: 999;
  box-shadow: 0 2px 5px 0 rgba(239, 235, 235, 0.16), 0 2px 10px 0 rgba(72, 70, 70, 0.12);
 
  & header {
    font-size: 4em;
    font-weight: 500;
    background: #fff;
    padding:10px 0;
    text-align: center;
    border-bottom:2px solid var(--text-color);
  }

  & ul {
    list-style: none;
    padding-left: 0;
    
    & li a {
      display: block;
      padding: 10px 15px;         
    }
    
    & li a:hover {
      background: var(--text-color);
      color: #fff;
    }
    
    & li a.selected {
      background: var(--text-color);
      color: #fff;
    }
  }  
}