@import "app.css";

.Main {
  height: 100%;
  width:100%;
  display: inline-flex;
}

.MainRight {
  width: 100%;
}

.MainRightBottom {
  height: 100%;
  min-height: 800px;
  padding:90px 20px 0 270px;
  background: #f0f3f4;
}
